@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#confetti {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.confetti-explosion-screen-0-2-719 {
  z-index: 99999 !important;
}

.css-wl0d9u {
  z-index: 100;
}
